extends layout
~                                                                                                          │block content
~                                                                                                          │  title=title
~                                                                                                          │  h1
~                                                                                                          │    p Welcome to WOSCOM Dashboard
